@import "/home/david/hypr-config/.config/colors/mocha.css"; 

* {
    font-family: "CaskaydiaCove NF Light";
    font-size: 13px;
    min-height: 0;
    font-weight: bold; 
}

window#waybar {
    background: transparent;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#workspaces,
#window,
#clock,
#network,
#custom-bluetooth,
#pulseaudio, 
#custom-bluetooth, 
#battery,
#custom-power,
#pulseaudio-slider,
#backlight-slider,
#backlight{
    background: @base;
    margin-top: 6px;
    margin-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#window{
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 18px;
    color: @mauve;
}

#workspaces{
    border-radius:12px;
}
#workspaces button{
    border-radius: inherit;
    color: @text;
}
#workspaces button.active {
    color: @mauve;
    background: @surface1;
}
#workspaces button.hover {
    color: @mauve;
    background: @surface1;
}
#workspaces button.urgent {
    color: @base;
    background: @mauve;
}

#clock{
    border-radius: 12px;
    margin-right: 6px;
    color: @sky;
}
#network{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: @sapphire;
}
#custom-bluetooth{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-right: 6px;
    color: @blue;
}
#pulseaudio{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: @lavender;
}
#backlight {
    color: @rosewater;
}
#battery{
    color: @mauve;
}
#custom-power {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 15px;
    margin-right: 6px;
    color: @red;
}

#pulseaudio-slider{
    background: @base;
    border:none;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background: @blue;
    border:none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: @overlay0;
    border:none;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @lavender;
    border:none;
}

#backlight-slider {
    background: @base;
    border: none;
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background: @yellow;
    border:none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: @overlay0;
    border:none;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @rosewater;
    border:none;
}

