@import "/home/david/hypr-config/.config/colors/mocha.css"; 

* {
    font-family: "CaskaydiaCove NF ExtraLight";
    font-size: 13px;
    min-height: 0;
    font-weight: bold; 
}

window#waybar {
    background: transparent;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#workspaces,
#window,
#time,
#tray,
#network,
#custom-bluetooth,
#pulseaudio, 
#custom-bluetooth, 
#battery,
#custom-power,
#pulseaudio-slider,
#backlight-slider,
#backlight{
    background: @base;
    margin-top: 4px;
    margin-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#window{
    border-top-right-radius: 12px;
    border-top-left-radius: 24px; 
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 12px;
    margin-left: 6px;
    margin-right: 18px;
    color: @mauve;
}

#workspaces{
    border-radius:12px;
}
#workspaces button{
    border-radius: inherit;
    color: @text;
}
#workspaces button.active {
    color: @mauve;
    background: @surface1;
}
#workspaces button.hover {
    color: @mauve;
    background: @surface1;
}
#workspaces button.urgent {
    color: @base;
    background: @red;
}

#time {
  margin-left: 6px;
  border-radius: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 24px;
}
#clock{
    color: @sky;
}
#custom-date{
  color: @sky;
  padding-left: 8px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 24px;
}


#tray{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 24px;
    padding-right: 1px;
}
#tray > widget:hover {
	background: @surface0;
}

#network{
    color: @text;
    padding-left: 2px;
}
#custom-bluetooth{
    border-top-right-radius: 24px;
    border-bottom-right-radius: 12px;
    margin-right: 6px;
    color: @blue;
}
#pulseaudio{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 24px;
    color: @lavender;
}
#backlight {
    color: @rosewater;
    padding-left: 8px;
    padding-right: 8px;
}
#battery{
    color: @lavender;
}
#custom-power {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 12px;
    padding-right: 15px;
    margin-right: 6px;
    color: @red;
}

#network:hover,
#custom-bluetooth:hover, 
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#clock:hover,
#custom-power:hover {
  background: @surface0;
}
