/***
 
 */



/* Colors */
@define-color background              #1e1e2e;
@define-color background-alt          #6c7086;
@define-color background-alt-darker   #313244;
@define-color accent-normal           #89b4fa;
@define-color accent-error            #f38ba8;
@define-color bordercolor             #b4befe;
@define-color fontcolor               #cdd6f4;
@define-color fontaltcolor            #f5e0dc;
@define-color toggledOn               #89b4fa;
@define-color yellow                  #f9e2af;
@define-color lavender                #b4befe;


/* Config */

* {
    font-family: "JetbrainsMono NFP SemiBold";
    font-style: italic;
}

/* Notification */

.notification {
    background: @background;
    color: @fontcolor;
    border: 1px solid @bordercolor;
    border-radius: 12px;
    padding:5px;
}

.body {
  color: @fontcolor;
}

.summary {
  font-size: 12px;
  font-weight: 700;
  background: transparent;
  color: @accent-normal;
  text-shadow: none;
}

.time {
  font-size: 12px;
  background: transparent;
  color: @fontcolor;
  text-shadow: none;
  margin-right: 18px;
}

.close-button {
  background-color: @accent-error;
  color: @background;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 12px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @fontcolor;
    background: transparent;
}

.notification.critical progress {
  background-color: @accent-error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @accent-normal;
}

/* Control Center */

.control-center {
    background-color: @background;
    color: @fontcolor;
    border: 2px solid @bordercolor;
    padding: 10px;
    border-radius: 15px;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 2px 2px 2px;
  font-size: 14px;

}

.notification-group-icon {
  color: @fontcolor;
}

.notification-group-headers {
  color: @fontcolor;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @accent-normal;
  color: @background;
  margin: 4px; 
  border-radius: 12px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @accent-error;
  color: @background;
}  


/* widget title */
.widget-title {
  color: @fontcolor;
}
.widget-title>button {
  font-size: 1rem;
  color: @fontcolor;
  background: @background-alt-darker;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}

/* widget button grid */
button {
    border: 0px;
    min-width: 30px;
    background: @background-alt;
}

.widget-buttons-grid {
  font-size: x-large;
  background: @background-alt-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    color: @fontcolor;
    margin: 8px;
    padding: 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: alpha(@fontcolor, 0.55);
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @toggledOn;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
    color: @background-alt-darker;
}




/* dnd widget */
.widget-dnd {
  background: transparent;
  border: 1px solid transparent;
  font-size: large;
  color: @fontcolor;
}

.widget-dnd>switch {
  background: @background-alt;
  color: @fontcolor;
  border-radius: 12px;
}

.widget-dnd>switch:checked {
  background: @accent-error;
  border: 1px solid @accent-error;
}


/* volume & backlight widget */

.widget-volume {
  background: @background-alt-darker;
  color: @lavender;
  font-size: x-large;
}


.widget-backlight {
  background: @background-alt-darker;
  color: @yellow;
  font-size: x-large;
}

/* music player widget */
.widget-mpris {
  background: transparent;
}

.widget-mpris button {
  background-color: transparent;
  border-radius: 12px;
}

.widget-mpris button:hover {
  background-color: @accent-normal;
  color: @fontaltcolor;
}


/* sliders in backlight and volume */

trough slider {
    background: @fontcolor;
    border-radius: 4px;
}

trough highlight {
  min-height: 4px;   
  border-radius: 4px;
}

.widget-volume trough highlight {
  background: @lavender;     /* progress backlight */
}
.widget-volume trough slider:hover {
  background: @lavender;  
}

.widget-backlight trough highlight {
  background: @yellow;     /* progress backlight */
}
.widget-backlight trough slider:hover {
  background: @yellow;  
}
